@{

    ViewData["Title"] = "Index";
}


<div class="container">
    <div class="row text-center">
        <h2>Vehículo</h2>
    </div>
    <div>
        <br />
        <label class="align-content-lg-start">Marca</label>
        <div class="row text-center">
            <select id="slctMarca">
                
            </select>
        </div>

        <label>SubMarca</label>
        <div class="row text-center">
            <select id="slctSubMarca">
                
            </select>
        </div>

        <label>Modelo</label>
        <div class="row text-center">
            <select id="slctModelo">
                
            </select>
        </div>

        <label>Descripción</label>
        <div class="row text-center">
            <select id="slctDescripcion">
               
            </select>
        </div>
        <br />

    </div>
    <div class="row">
    </div>
    <br />
    <div class="row text-center">
        <h2>Domicilio</h2>
    </div>
    <div class="row">
        <input type="text" id="txtCp" value="" />
        <label id="lblCp" hidden="true"></label>
        <br />
        <input type="text" id="txtEstado" value="" disabled />
        <br />
        <input type="text" id="txtMunicipio" value="" disabled />
        <br />
        <select id="slctColinia">
        </select>
        <br />

        <button id="btnConsultar">Consultar</button>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>


<script>
    $(document).ready(function () {
        var marcalleno= false;
        var submarca = false;
        var modelo = false;
        var descripcion = false;



         //cambioOptionSubMarca
        $("#slctMarca").change(function () {
            $("#slctSubMarca ").empty("option");//vaciar

            if($('#slctMarca').val()!=undefined &&$('#slctMarca').val()>0 )
            {
                $.ajax({
                type: 'GET',
                url: 'http://localhost:5028/GetSubMarcas/',
                dataType: 'json',
                data: { IdMarca: $('#slctMarca').val() },
                success: function (response) {
                    $("#slctSubMarca").append('<option value="0">' + 'Selecciona una submarca' + '</option>');
                    $.each(response.objects, function (indice) {
                        $("#slctSubMarca").append('<option value="'
                            + response.objects[indice].idSubMarca + '">'
                            + response.objects[indice].nombreSubMarca + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed.' + ex);
                }
            });
            }
            else{
                $("#slctSubMarca").append('<option value="0">' + 'Selecciona una submarca' + '</option>');
            }
           
        });

        //cambioOptionModelo
        $("#slctSubMarca").change(function () {
            $("#slctModelo ").empty("option");//vaciar
            if($('#slctSubMarca').val()!=undefined&&$('#slctSubMarca').val()>0){
                 $.ajax({
                type: 'GET',
                url: 'http://localhost:5028/GetModelo/',
                dataType: 'json',
                data: { IdSubMarca: $('#slctSubMarca').val() },
                success: function (response) {

                    $("#slctModelo").append('<option value="0">' + 'Selecciona un modelo' + '</option>');

                    $.each(response.objects, function (indice) {
                        $("#slctModelo").append('<option value="'
                            + response.objects[indice].modeloSubMarca.idModeloSubMarca + '">'
                            + response.objects[indice].modeloSubMarca.yearModeloSubMarca + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed.' + ex);
                }
            });
            }
            else{
                $("#slctModelo").append('<option value="0">' + 'Selecciona un modelo' + '</option>');
            }
            
           
        });

        //cambioOptionDescripcion
        $("#slctModelo").change(function () {
            $("#slctDescripcion ").empty("option");//vaciar
            if($('#slctSubMarca').val()!= undefined && $('#slctSubMarca').val()>0){
                 $.ajax({
                type: 'GET',
                url: 'http://localhost:5028/GetDescripcion/',
                dataType: 'json',
                data: { 'idSubMarca': $('#slctSubMarca').val(),'idModeloSubMarca': $('#slctModelo').val() },
                success: function (response) {
                    $("#slctDescripcion").append('<option value="0">' + 'Selecciona un descripción' + '</option>');

                    $.each(response.objects, function (indice) {
                        $("#slctDescripcion").append('<option value="'
                            + response.objects[indice].idDescripcion + '">'
                            + response.objects[indice].catalogoDescripcion.nombreDescripcion + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed.' + ex);
                }
            });
            }else
            {
                 $("#slctDescripcion").append('<option value="0">' + 'Selecciona un descripción' + '</option>');
            }
           
        });

        var LlenarMarca = function () {
            $.ajax({
                type: 'GET',
                url: 'http://localhost:5028/GetMarcas',
                dataType: 'json',
                data: {  },
                success: function (response) {
                    $("#slctMarca").append('<option value="0">' + 'Selecciona una marca' + '</option>');
                    $.each(response.objects, function (indice) {
                        $("#slctMarca").append('<option value="'
                            + response.objects[indice].idMarca + '">'
                            + response.objects[indice].nombreMarca + '</option>');
                    });


                },
                error: function (ex) {
                    alert('Failed.' + ex);
                }
            });

        }

        $("#txtCp").focusout(function () {
           var longitud =  $("#txtCp").val().length;

           console.log(longitud);
            if(longitud==5)
            {
                $("#txtCp").css('border-color', 'black');
                $.ajax({
                type: 'GET',
                url: '/Examen/ConsultaCodigo/{codigoPostal}',
                dataType: 'json',
                data: { codigoPostal: $('#txtCp').val() },
                success: function (response) {
                    $('#slctColinia ').empty("option");

                    var obj = $.parseJSON(response);
                    var obj2 = $.parseJSON(obj.CatalogoJsonString)
                    console.log(obj2);
                    console.log(obj2[0].Municipio.Estado.sEstado);
                    console.log(obj2[0].Municipio.sMunicipio);
                    console.log(obj2[0].Ubicacion.length)
                    console.log(obj2[0].Ubicacion[0].sUbicacion);

                    //$('#txtEstado').val(obj2[0].Municipio.Estado.iIdEstado);
                    $('#txtEstado').val(obj2[0].Municipio.Estado.sEstado);
                    $('#txtMunicipio').val(obj2[0].Municipio.sMunicipio);
                   // $('#txtMunicipio').val(obj2[0].Municipio.iIdMunicipio);
                    if (obj2[0].Ubicacion.length > 1) {
                        $.each(obj2[0].Ubicacion, function (indice) {
                            $("#slctColinia").append('<option value="'
                                + obj2[0].Ubicacion[indice].iIdUbicacion + '">'
                                + obj2[0].Ubicacion[indice].sUbicacion + '</option>');
                        });
                    } else {
                        $("#slctColinia").append('<option value="'
                            + obj2[0].Ubicacion[0].iIdUbicacion + '">'
                            + obj2[0].Ubicacion[0].sUbicacion + '</option>');
                    }
                },
                error: function (ex) {
                    alert('Failed.' + ex);
                }
            });
            }
            else
            {
                $("#txtEstado").val(" ");
                $("#txtMunicipio").val(" ");
                $("#slctColinia").val(" ");
                $("#slctColinia").empty(" option")
                
                $("#txtCp").css('border-color', 'red');
                 $('#lblCp').attr('disabled','false');
                $('#lblCp').text("El código postal debe de tener 5 caracteres.");
               
            }
           
        });

        if (!marcalleno) {
            LlenarMarca();
            marcalleno = true;
        }
        


    });




</script>
